{% extends 'layout.html' %}

{% block content %}
{% load static %}
<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/perfil.jpg' %}" alt class="img-fluid">
    </div>
    <div class="col-md-8 my-auto">
        <h1>I am <strong>Hidemi Kida</strong> </h1>
        <h3>I am a Python fullStack Developer </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus, esse cumque nihil incidunt facere voluptas eveniet
            tenetur minus sint quaerat sequi expedita earum sapiente deleniti
            animi aliquam nam, fugit rerum nostrum dolor neque.
            Repellat commodi est dolore ad cum nesciunt dolorum unde,
            repudiandae inventore sunt optio animi modi deserunt suscipit
            similique rerum cupiditate nostrum ipsa architecto? Facere quis
            iure et expedita nisi id corporis saepe eligendi libero. Omnis
            aperiam accusantium voluptate cumque quibusdam veritatis ullam
            aliquid soluta distinctio minus ad ea explicabo, fugit eos
            consequuntur porro molestias impedit fuga suscipit maiores
            commodi dignissimos quasi necessitatibus? Praesentium iste porro
            illo ex.</p>
        <a href="{% static 'portfolio/pruebacv.pdf' %}"
            class="btn btn-primary btn-lg rounded-0 my-3">Download cv</a>
    </div>
</header>
<div class="row my-4 text-center">
    <h3>My Projects</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia,
        tempora.</p>
    {% for project in projects %}
    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
           <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top"/> 
           <div class="card-body text-light">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                
                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank">"{{project.url}}"</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
</div>
